* {
	margin: 0;
	padding: 0;
}
body {
	background: #ececec;
	color: #000;
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header header header'
		'contenido contenido sidebar'
		'widget-1 widget-2 sidebar'
		'footer footer footer';
}
.contenedor > section,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 15px;
	border-radius: 3px;
}
.contenedor .header {
	background: #1a4fb1;
	color: #fff;
	/* grid-column: 1/-1; */
	grid-area: header;
}

.contenedor .contenido {
	/* grid-column: span 2; */
	grid-area: contenido;
}
.contenedor .widget-1,
.contenedor .widget-2 {
	background: #78b0f8;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
}
.contenedor .widget-1 {
	grid-area: widget-1;
}
.contenedor .widget-2 {
	grid-area: widget-2;
}
.contenedor .sidebar {
	/* grid-column: 3/4;
	grid-row: span 2; */
	background: #ffaa0e;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: sidebar;
}

.contenedor .footer {
	/* grid-column: 1/-1; */
	background: #1a4fb1;
	color: #fff;
	grid-area: footer;
}

@media screen and (max-width: 768px) {
	.contenedor {
		grid-template-areas:
			'header header header'
			'contenido contenido contenido'
			'sidebar sidebar sidebar'
			'widget-1 widget-2 widget-2'
			'footer footer footer';
	}
	.contenedor .contenido {
		/* grid-column: 1/-1; */
		grid-area: contenido;
	}
	.contenedor .sidebar {
		/* grid-column: 1/-1; */
		grid-area: sidebar;
	}
	.contenedor .widget-1 {
		/* grid-column: span 2; */
		grid-area: widget-1;
	}
	.contenedor .widget-2 {
		/* grid-column: span 2; */
		grid-area: widget-2;
	}
}
